---
"@medusajs/auth": patch
"@medusajs/auth-emailpass": patch
"@medusajs/core-flows": patch
"@medusajs/js-sdk": patch
"@medusajs/medusa": patch
"@medusajs/types": patch
"@medusajs/utils": patch
---

Add auth verification primitives for emailpass.
