:root {
  --rt-opacity: theme(opacity.100) !important;
  --rt-color-dark: theme(colors.medusa.bg.base.DEFAULT) !important;
  --rt-color-white: theme(colors.medusa.fg.subtle.DEFAULT) !important;
}

[data-theme="dark"] {
  --rt-color-dark: theme(colors.medusa.bg.base.dark) !important;
  --rt-color-white: theme(colors.medusa.fg.subtle.dark) !important;
}