/docs
/docs-util
/www
typedoc.*
jest*

packages/*
# List of packages to Lint
!packages/medusa
!packages/admin-ui
!packages/admin
!packages/admin-next
!packages/admin-next/dashboard
!packages/medusa-payment-stripe
!packages/medusa-payment-paypal
!packages/event-bus-redis
!packages/event-bus-local
!packages/medusa-plugin-meilisearch
!packages/medusa-plugin-algolia
!packages/inventory
!packages/stock-location
!packages/cache-redis
!packages/cache-inmemory
!packages/create-medusa-app
!packages/product
!packages/orchestration
!packages/workflows-sdk
!packages/core-flows
!packages/types
!packages/medusa-react
!packages/workflow-engine-redis
!packages/workflow-engine-inmemory
!packages/fulfillment
!packages/fulfillment-manual


**/models/*
**/scripts/*
**/dist/*
**/node_modules/*
**/migrations/*
**/__mocks__/*

.eslintrc.js
