/docs
/docs-util
/www
typedoc.*
jest*

packages/*
# List of packages to Lint
!packages/medusa
!packages/medusa-payment-stripe



**/models/*
**/scripts/*
**/dist/*
**/node_modules/*
**/migrations/*
**/__mocks__/*

.eslintrc.js
