.env
node_modules
*yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/**/.yarn/*
integration-tests/**/.yarn/*
www/**/.yarn/*

.DS_Store
lerna-debug.log

.eslintcache

.idea
.turbo
build/**
