# All files not owned by other teams must be reviewed by the core team
*                                               @medusajs/core 
package.json                                    @medusajs/engineering
yarn.lock                                       @medusajs/engineering
/.changeset/                                    @medusajs/engineering
/packages/                                      @medusajs/engineering
/integration-tests/                             @medusajs/engineering
/docs-util/                                     @medusajs/docs
/www/                                           @medusajs/docs
/packages/admin                                 @medusajs/ui
/packages/admin-ui                              @medusajs/ui
/packages/design-system/                        @medusajs/ui
