@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h1 mb-1;
  }
  
  h2 {
    @apply text-h2 mb-1;
  }
  
  h3 {
    @apply text-h3 mb-0.5;
  }
  
  h4 {
    @apply text-h4 mb-0.5;
  }
  
  h1, h2, h3, h4 {
    @apply text-medusa-fg-base dark:text-medusa-fg-base-dark;
  }
  
  hr {
    @apply h-[1px] w-full border-0 bg-medusa-border-base dark:bg-medusa-border-base-dark my-2;
  }
  
  p, ul, ol {
    @apply mb-1.5;
  }

  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply overflow-x-hidden;
  }

  *::selection {
    @apply bg-medusa-bg-highlight dark:bg-medusa-bg-highlight-dark;
  }

  pre *::selection {
    @apply !bg-medusa-code-text-highlight;
  }

  body[data-modal="opened"] {
    @apply !overflow-hidden;
  }

  mark {
    @apply bg-medusa-bg-highlight dark:bg-medusa-bg-highlight-dark;
    @apply text-medusa-fg-interactive dark:text-medusa-fg-interactive-dark;
  }
}

@layer utilities {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceOut {
    20% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    50%,
    55% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  }
  
  @-webkit-keyframes bounceOut {
    20% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    50%,
    55% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 500ms;
  }
  
  .animate-fadeOut {
    animation: fadeOut 300ms;
  }
  
  .animate-bounceIn {
    animation: bounceIn 300ms;
  }
  
  .animate-bounceOut {
    animation: bounceOut 300ms;
  }

  .animate-fill-forwards {
    animation-fill-mode: forwards;
  }

  .animate-fast {
    animation-duration: 300ms;
  }

  .clip {
    clip-path: inset(0);
  }

  .no-marker {
    @apply marker:content-none;
  }

  .no-marker::-webkit-details-marker {
    @apply hidden;
  }
}

@layer components {
  .btn-secondary-icon {
    @apply !p-0.25;
  }
}

/* @import url('./tooltip.css'); */