.cardContainer {
  box-shadow: none !important;
  transition: all var(--ifm-transition-fast) ease;
  display: flex;
  padding: 24px;
  height: 100%;
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: var(--medusa-body-regular-size);
  line-height: var(--medusa-body-regular-line-height);
  font-weight: 500;
  color: var(--ifm-color-primary);
  margin-bottom: 8px;
  display: block;
}

.cardDescription {
  font-size: var(--medusa-label-regular-size);
  line-height: var(--medusa-label-regular-line-height);
  font-weight: var(--medusa-label-regular-font-weight);
  color: var(--ifm-color-content);
}

.contentContainer {
  width: calc(100% - 20px);
}

.image {
  background-color: var(--medusa-bg-component);
  height: 24px;
  width: 24px;
  padding: 2px;
  border-radius: var(--ifm-global-radius);
}

.imageContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid var(--medusa-border-strong);
  border-radius: var(--ifm-global-radius);
  margin-right: 16px;
}