@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply overflow-x-hidden;
  }

  *::selection {
    @apply bg-medusa-bg-highlight;
  }

  *:not(.code-block-elm) {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-base);
  }

  .code-block-elm {
    scrollbar-color: var(--docs-contrast-border-base) transparent;
  }

  aside * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-subtle);
  }

  body[data-modal="opened"] {
    @apply !overflow-hidden;
  }
}