@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  .html {
    @apply text-medusa-fg-base;
  }

  *::selection {
    @apply bg-medusa-bg-highlight;
  }

  pre *::selection {
    @apply !bg-medusa-contrast-bg-highlight;
  }

  * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-base);
  }

  aside * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-subtle);
  }

  body {
    @apply text-ui-fg-subtle;
  }

  /* Hack to hide navbar / toc when some components like prompt are opened. */
  body[data-scroll-locked] .z-20,
  body[data-scroll-locked] .z-10 {
    z-index: 0 !important;
  }

  body[data-modal="opened"] {
    @apply !overflow-hidden text-ui-fg-base;
  }
}
