code[class*="language-"], pre[class*="language-"] {
    color: #0a3149;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 12px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.dark code[class*="language-"], .dark pre[class*="language-"] {
    color: #249feb;
}

/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
    background: transparent;
}

/* Inline code */

:not(pre)>code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.dark :not(pre)>code {
    background-color: #515151;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: blue;
}

.token.punctuation {
    color: #0a3149;
}

.token.namespace {
    opacity: 0.7;
}

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
    color: #0a3149;
}

.dark .token.property, .dark .token.tag, .dark .token.constant, .dark .token.symbol, .dark .token.deleted,
.dark .token.punctuation {
    color: #249feb;
}

.token.number {
    color: #e56f4a;
}

.token.boolean {
    color: #3a97d4;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #10c38d;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
    color: #0a3149;
}

.dark .token.operator, .dark .token.entity, .dark .token.url, .dark .language-css .token.string, .dark .style .token.string, 
.dark .token.variable {
    color: #249feb;
}

.token.atrule, .token.attr-value, .token.function, .token.class-name {
    color: #e6db74;
}

.token.keyword {
    color: #3a97d4;
}

.token.keyword.null {
    color: grey;
}

.dark .token.keyword.null {
    color: rgb(184, 184, 184);
}

.token.regex, .token.important {
    color: #fd971f;
}

.token.important, .token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}