@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    --webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
  }

  body {
    @apply overflow-x-hidden;
    overscroll-behavior-y: none;
  }

  #main {
    overscroll-behavior-y: contain;
  }

  *::selection {
    @apply bg-medusa-bg-highlight;
  }

  * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-base);
  }

  aside * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-subtle);
    overscroll-behavior-y: contain;
  }

  body[data-modal="opened"] {
    @apply !overflow-hidden;
  }
}