.admonition {
  margin-bottom: var(--ifm-base-margin-vertical);
}

.admonitionIcon {
  display: inline-block;
}

.admonitionIcon svg,
.admonitionIcon img {
  display: inline-block;
  margin-top: 2px;
}

.admonitionIcon {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.admonitionIcon img {
  max-height: 100%;
}

.admonitionContent {
  font-size: 14px;
  color: var(--ifm-note-text-color);
  flex: 1;
  width: calc(100% - 40px);
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}

.admonitionContentContainer {
  display: flex;
}