.card {
  background-color: var(--ifm-medusa-gray);
  min-height: 257px;
  border-radius: 5px;
  padding: 20px 13px;
  height: 100%;
}

.cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent p {
  font-size: 18px;
}
