.borderedIconWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--ifm-global-radius) / 2);
  padding: var(--bordered-inside-padding);
  background-color: var(--medusa-bg-component);
}