.borderedIconWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--ifm-global-radius);
  padding: var(--bordered-inside-padding);
  background-color: var(--medusa-bg-component);
}