.bannerContainer {
  height: 102px;
  padding: 10px 0px;
  margin-bottom: 50px;
  background-color: var(--ifm-medusa-gray);
  border-radius: 5px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}