/** This CSS file includes tailwind styling definitions for classes defined by docusaurus **/
html,
body {
  @apply h-full;
}

.cards-grid {
  @apply grid gap-x-1 auto-rows-fr;
}

.cards-grid.grid-6 {
  @apply md:grid-cols-2 grid-cols-1;
}

.cards-grid.grid-4 {
  @apply lg:grid-cols-3 md:grid-cols-2 grid-cols-1;
}

h1 + .cards-grid,
h1 + .card-wrapper,
h2 + .cards-grid,
h2 + .card-wrapper,
h3 + .cards-grid,
h3 + .card-wrapper {
  @apply mt-1.5;
}

.markdown p + img,
.markdown .alert,
.markdown .code-wrapper {
  @apply mb-2;
}

.markdown h2,
.markdown h3,
.markdown p + .code-wrapper,
.markdown p + .tabs-wrapper,
.markdown p + .alert,
.markdown p + section,
video {
  @apply mt-2;
}

.theme-code-block {
  @apply border border-solid border-medusa-code-border;
}

.markdown p + .card-wrapper {
  @apply mt-1.5;
}

.card + p,
details + p {
  @apply mt-2;
}

.card-highlighted {
  @apply relative mb-4 bg-medusa-bg-subtle dark:bg-medusa-bg-base hover:bg-medusa-bg-subtle-hover dark:hover:bg-medusa-bg-base-hover;
}

.col.toc-wrapper {
  --ifm-col-width: var(--ifm-toc-width);
}

.markdown-doc-wrapper--fluid {
  @apply max-w-[inherit];
}

:global(.docusaurus-mt-lg) {
  @apply mt-3;
}

:global(#__docusaurus) {
  @apply min-h-full flex flex-col;
}

.code-tabs .theme-code-block {
  @apply !rounded-t-none !rounded-b
}

[class*=codeLineNumber] {
  @apply text-medusa-code-text-subtle !pl-0;
}

.prism-code {
  @apply xs:max-w-[90%] text-code-body [&_*]:text-code-body xs:after:content-[''] xs:after:rounded xs:after:absolute;
  @apply xs:after:right-0 xs:after:top-0 xs:after:w-[calc(10%+24px)] xs:after:h-full xs:after:bg-code-fade;
}

.prism-code:not(:hover)::-webkit-scrollbar-thumb,
.prism-code:not(:hover)::-webkit-scrollbar-track {
  @apply xs:invisible;
}

.prism-code:hover::-webkit-scrollbar-thumb,
.prism-code:hover::-webkit-scrollbar-track {
  @apply xs:opacity-100
}

.prism-code {
  @apply bg-transparent break-words !outline-none;
}

.prism-code div {
  @apply !outline-none focus:!outline-none active:!outline-none;
}

.code-tabs {
  @apply relative;
}

.sidebar-desktop nav {
  --ifm-scrollbar-track-background-color: transparent !important;
  --ifm-scrollbar-thumb-background-color: transparent !important;
  --ifm-scrollbar-thumb-hover-background-color: transparent !important;
}

.main-wrapper {
  @apply max-w-xl mx-auto xl:min-w-xl w-full;
}

.theme-doc-breadcrumbs {
  @apply hidden;
}

article {
  @apply max-w-[960px];
}

.padding-top--md {
  @apply !pt-3;
}

.margin-bottom--lg {
  @apply !mb-1;
}

details summary {
  @apply cursor-pointer;
}

.reference-table {
  @apply !table table-fixed w-full;
}

.reference-table p {
  --ifm-paragraph-margin-bottom: 0;
}

.reference-table.table-col-4 th,
.reference-table.table-col-4 td {
  @apply [&:nth-child(1)]:!w-1/5 [&:nth-child(2)]:!w-1/5 [&:nth-child(3)]:!w-2/5 [&:nth-child(4)]:!w-1/5;
}

.reference-table th:nth-child(1),
.reference-table td:nth-child(1) {
  @apply [&:nth-child(1)]:!w-[30%] [&:nth-child(2)]:!w-[30%] [&:nth-child(3)]:!w-2/5;
}

.reference-table .tooltip-container code {
  @apply whitespace-nowrap;
}

.reference-table .theme-code-block span {
  @apply !max-w-full !break-words !whitespace-break-spaces;
}

.theme-code-block {
  @apply !bg-medusa-code-bg-base;
}

.reference-table .code-block-numbering {
  @apply !block;
}

.container {
  @apply !pt-3 !max-w-full;
}

.pagination-nav {
  @apply hidden;
}

.theme-doc-footer {
  @apply !mt-0 border-0 !border-t border-solid !border-medusa-border-base;
  @apply pt-2;
}

.theme-last-updated {
  @apply font-normal not-italic text-compact-small-plus;
}

.theme-last-updated,
.theme-last-updated b {
  @apply !font-normal;
}

.medium-zoom-overlay {
  @apply z-[400];
}

.medium-zoom-image--opened {
  @apply z-[400];
}

details > div {
  --docusaurus-details-decoration-color: transparent !important;
}

.row--justify-end {
  @apply justify-end;
}

.docs-page-container {
  @apply !px-0;
}

.search-result-match {
  @apply text-medusa-fg-base;
  @apply bg-medusa-bg-highlight py-0.25 px-0;
}

.navbar {
  @apply z-[399] p-0 border-0 border-b border-solid border-medusa-border-base;
}

html:not(.plugin-redoc) .navbar:not(.navbar-sidebar--show) {
  @apply supports-[backdrop-filter]:bg-transparent supports-[backdrop-filter]:backdrop-blur-md;
}

.navbar__link {
  @apply text-compact-small-plus;
}

.navbar__brand {
  @apply mr-0;
}

.navbar__logo {
  @apply w-[82px] h-[20px] lg:w-[20px] lg:h-[20px] flex justify-center items-center !mr-0;
}

.navbar__item {
  @apply p-0 lg:!block !hidden;
}

h1 {
  @apply !text-h1;
}

h2 {
  @apply !text-h2;
}

h3 {
  @apply !text-h3;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-medusa-fg-base;
}

.markdown > h1:first-child,
.markdown > h2,
.markdown > h3 {
  @apply mb-0.5;
}

.markdown > p {
  @apply mb-0.5;
}

.markdown > p img {
  @apply mt-0.5;
}

.markdown {
  @apply mb-0;
}

*::selection {
  @apply bg-medusa-bg-highlight;
}

.prism-code *::selection, .code-header *::selection {
  @apply bg-medusa-code-text-highlight;
}