.contentWrapper {
  font-size: 12px;
  line-height: 16px;
  color: var(--ifm-announcement-bar-text-color);
}

.contentTitle,
.moreText {
  font-size: var(--medusa-label-small-plus-size);
  line-height: var(--medusa-label-small-plus-line-height);
  font-weight: var(--medusa-label-small-plus-font-weight);
}

.contentTitle {
  color: var(--ifm-announcement-bar-title-color);
}