[data-theme="dark"] .breadcrumbs__item--active a {
  background-color: var(--ifm-color-gray-800) !important;
  color: var(--ifm-color-primary-lightest) !important;
  font-weight: bold;
}

[data-theme="dark"] a:hover {
  color: var(--ifm-menu-active);
}

@media screen and (min-width: 992px) {
  .color-mode-tabs {
    height: 32px;
  }

  .pill-button {
    width: 64px;
  }
}

@media screen and (max-width: 991px) {
  .color-mode-tabs {
    max-width: 100%;
  }

  .pill-button {
    padding-left: 5px;
    padding-right: 5px;
  }
}