.navbar {
  z-index: calc(var(--ifm-z-index-overlay) - 1);
  padding: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) { 
  html:not(.plugin-redoc) .navbar:not(.navbar-sidebar--show) {
    background: none;
    backdrop-filter: blur(12px);
  }
}

.navbar__link {
  font-size: var(--medusa-label-small-plus-size);
  line-height: var(--medusa-label-small-plus-line-height);
  font-weight: var(--medusa-label-small-plus-font-weight);
}

.navbar__brand {
  margin-right: calc(var(--ifm-base-spacing) * 2);
}

.navbar__logo {
  height: var(--ifm-logo-height);
  width: var(--ifm-logo-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}