.alert {
  padding: 16px;
  border: 1px solid var(--ifm-note-border-color) !important;
  background-color: var(--ifm-note-background);
  border-radius: 8px;
  box-shadow: none;
}

.alert p > code {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px !important;
}

.alert a {
  text-decoration: none;
}

html:not([data-theme="dark"]) [class*=alert--] {
  --ifm-code-background: #F9FAFB !important;
  --ifm-alert-background-color-highlight: #F9FAFB !important;
}

[data-theme="dark"] [class*=alert--] {
  --ifm-code-background: #222222 !important;
  --ifm-alert-background-color-highlight: #222222 !important;
}