h1 {
  font-size: var(--ifm-h1-font-size);
  line-height: var(--ifm-h1-line-height);
}

h2 {
  font-size: var(--ifm-h2-font-size);
  line-height: var(--ifm-h2-line-height);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ifm-color-headers);
}

p {
  font-weight: 400;
}

.theme-doc-markdown a:hover {
  text-decoration: none;
}

.markdown h1:first-child {
 font-size: 30px !important;
}

.markdown > h2 {
  font-size: 24px !important;
}

.markdown > p {
  margin-bottom: 8px;
}

.markdown a,
.markdown a:hover {
  color: var(--ifm-link-color);
}

.markdown a:not(.hash-link) {
  font-weight: var(--ifm-link-weight);
}

.markdown a:not(.hash-link):after {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('/img/link-icon.svg');
  content: '';
  vertical-align: middle;
}

.markdown p + h2,
.markdown p + h3,
.markdown .alert + h2,
.markdown .alert + h3 {
  margin-top: 64px;
}