/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Colors */
  --ifm-color-primary: #7C53FF;
  --ifm-color-primary-dark: #6231ff;
  --ifm-color-primary-darker: #5520ff;
  --ifm-color-primary-darkest: #3800ed;
  --ifm-color-primary-light: #9675ff;
  --ifm-color-primary-lighter: #a386ff;
  --ifm-color-primary-lightest: #c9b8ff;
  --ifm-medusa-gray: #f0f0f0;

  /* Fonts */
  --ifm-code-font-size: 80%;
  --ifm-font-family-base: "custom-font",BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;

  /* Sidebar */
  --doc-sidebar-width: 350px !important;

  /* Docs Page */
  --ifm-docs-page-max-width: 850px;

  /* Toc */
  --ifm-toc-border-color: #f0f0f0;
  --ifm-toc-link-color: #a6acb5;
  --ifm-toc-padding-horizontal: 9px;
}

html:not([data-theme="dark"]) {
  /* Navbar */
  --ifm-navbar-shadow: 0px 1px 0px 0px #a6acb5;
}

html[data-theme="dark"] {
  --ifm-navbar-background-color: #242526;
  /* --ifm-color-primary: #7C53FF; */
  --ifm-color-primary-dark: #6231ff;
  --ifm-color-primary-darker: #5520ff;
  --ifm-color-primary-darkest: #3800ed;
  --ifm-color-primary: #9675ff;
  --ifm-color-primary-lighter: #a386ff;
  --ifm-color-primary-lightest: #c9b8ff;
  --ifm-background-color: var(--ifm-color-gray-900);
  --ifm-background-surface-color: var(--ifm-color-gray-900);
  --ifm-medusa-gray: #292929;
  --ifm-menu-color: #fff;
  --ifm-toc-border-color: #333;
}

[data-theme="dark"] .breadcrumbs__item--active a {
  background-color: var(--ifm-color-gray-800) !important;
  color: var(--ifm-color-primary-lightest) !important;
  font-weight: bold;
}

[data-theme="dark"] pre code {
  background-color: var(--ifm-code-background);
}

h1 {
  font-size: 2.5em;
}

h1, h2, h3 {
  font-weight: normal;
}

p {
  font-weight: 400;
}

/* DocSearch */

/* html[data-theme="light"] .DocSearch-Button {
  --docsearch-searchbox-background: #fff;
}

html[data-theme="dark"] .DocSearch-Button {
  --docsearch-searchbox-background: #1f1f1f;
} */

.DocSearch-Button {
  width: 100%;
  max-width: 175px;
  border-radius: 8px !important;
  --docsearch-container-background: #f5f6f7;
}

span.DocSearch-Button-Key {
  display: none;
}

/* Navbar */

html[data-theme="dark"] .navbar-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] footer:not(.theme-doc-footer) {
  background-color: var(--ifm-color-gray-800);
}

html[data-theme="dark"] .card {
  border: 1px solid var(--ifm-color-primary);
}

.navbar {
  z-index: 1000;
  font-size: 14px;
}

.navbar-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.navbar__link svg {
  display: none;
}

/* DocsPage */

article {
  max-width: var(--ifm-docs-page-max-width);
}

@media screen and (min-width: 966px) {
  [class*=docItemContainer] > article {
    margin-left: 50px;
    margin-right: 50px;
    max-width: none
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* TOC */

.table-of-contents {
  font-size: 0.85rem;
}

.table-of-contents::before {
  content: "ON THIS PAGE";
  display: inline-block;
  font-size: 0.85rem;
  padding-bottom: 4px;
}

.table-of-contents .table-of-contents__link--active {
  border-left: 3px solid var(--ifm-link-color);
  color: var(--ifm-color-primary);
  font-weight: 500;
  margin-left: -14px;
  padding-left: 10px;
}

/* Sidebar */

.main-wrapper aside {
  z-index: var(--ifm-z-index-fixed);
}

.sidebar-bg {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

/* Medusa logo */
.sidebar-bg img {
 width: 100px;   
}

.padding-top--md {
  padding-top: 2rem !important;
}

a.menu__link.menu__link--active.active {
  padding-left: 16px;
}

a.menu__link--sublist::after,
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 2rem;
}

.menu__list-item > a {
  font-weight: 450;
}

/* Pagination */

.pagination-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--ifm-docs-page-max-width);
}

.navbar {
  padding-left: 32px;
  padding-right: 32px;
}

/* Footer */

footer .footer__items svg {
  display: none;
}

@media screen and (min-width: 966px) {
  footer .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

footer .footer__items li {
  width: 150px;
}

footer .footer__title {
  width: 150px;
}

html:not([data-theme="dark"]) footer {
  background-color: #ffffff !important;
  border-top: 1px solid var(--ifm-toc-border-color);
}

.react-toggle {
  display: none;
}

/* Cards */

html:not([data-theme=dark]) .card {
  border: 1px solid #cbcbcb;
  border-radius: 8px;
}

.col {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.prism-code {
  background-color: none;
  word-break: break-word;
  font-size: 0.8rem;
  outline: none !important;
}
.prism-code div,
.prism-code div:focus,
.prism-code div:active {
  outline: none !important;
}

details summary {
  cursor: pointer;
}

.theme-doc-markdown a:not(.box-link):hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.box-link,
.box-link:hover {
  color: #0a3149;
}

.theme-doc-markdown a:hover {
  color: #6e3eff;
  text-decoration: none;
}

.DocSearch-Container {
  z-index: 1001 !important;
}

.reference-table th:nth-child(2),
.reference-table td:nth-child(2) {
  width: 40%;
}

.reference-table th:nth-child(3),
.reference-table td:nth-child(3) {
  width: 50%;
}

.reference-table .theme-code-block span {
  max-width: 100%;
  word-break: break-word;
  white-space: break-spaces;
}