.theme-doc-sidebar-container {
  --animate-duration: 0.2s;
}

.sidebar-desktop nav {
  --ifm-scrollbar-track-background-color: transparent !important;
  --ifm-scrollbar-thumb-background-color: transparent !important;
  --ifm-scrollbar-thumb-hover-background-color: transparent !important;
}

.menu__list-item:not(:first-child):not(.sidebar-title) {
  margin-top: 0 !important;
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) [class*=theme-doc-sidebar-item-],
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) [class*=theme-doc-sidebar-item-] .menu__link--active {
  @apply relative;
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) [class*=theme-doc-sidebar-item-]:not(.theme-doc-sidebar-item-link-category)::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category .menu__list-item-collapsible .menu__link--active::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) > .theme-doc-sidebar-item-link > .menu__link--active::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category > .menu__list-item-collapsible::before {
  @apply content-[''] h-full w-[1px] absolute left-0.5 top-0 z-[1];
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) [class*=theme-doc-sidebar-item-] .menu__link--active::before {
  @apply !h-[20px];
}

.theme-doc-sidebar-item-category-level-1 > .menu__list > .menu__list-item:first-child::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible::before,
.theme-doc-sidebar-item-category-level-1 > .menu__list > .menu__list-item:last-child::before {
  @apply !h-[28px];
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-link:first-child::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible::before {
  @apply !bottom-0 !top-[unset];
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible {
  @apply !pb-[6px];
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible .menu__link {
  @apply !pb-0;
}

.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) [class*=theme-doc-sidebar-item-]::before,
.menu__list-item .menu__list:not(.theme-doc-sidebar-menu) .theme-doc-sidebar-item-category:first-child .menu__list-item-collapsible::before {
  @apply bg-medusa-border-base;
}

.theme-doc-sidebar-item-category-level-2 > .menu__list-item-collapsible .menu__link--active::before,
.menu__list:not(.theme-doc-sidebar-menu) > .theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2 > .menu__link--active::before {
  @apply bg-medusa-fg-interactive !z-[2] !top-[6px];
}

.theme-doc-sidebar-item-category-level-2:only-child > .menu__list-item-collapsible .menu__link--active::before,
.menu__list:not(.theme-doc-sidebar-menu) > .theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2:only-child > .menu__link--active::before,
.menu__list:not(.theme-doc-sidebar-menu) > .theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2:first-child > .menu__link--active::before {
  @apply !top-0.5;
}

.theme-doc-sidebar-item-link-level-1:not(.sidebar-title):not(.homepage-sidebar-item):not(.sidebar-back-link) {
  @apply mb-1;
}

.theme-doc-sidebar-item-link-level-1:not(.sidebar-title):not(.homepage-sidebar-item):not(.sidebar-back-link) .menu__link {
  @apply !pl-0;
}

.theme-doc-sidebar-item-category-level-1.sidebar-group-headline {
  @apply mb-1;
}

[class*="level-2"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-2"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider,
[class*="level-3"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-3"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider,
[class*="level-4"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-4"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider {
  @apply py-[6px];
}

[class*="level-2"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-2"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider {
  @apply pl-2;
}

[class*="level-3"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-3"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider {
  @apply pl-3;
}

[class*="level-4"]:is([class*="theme-doc-sidebar-item"]) .menu__link,
[class*="level-4"]:is([class*="theme-doc-sidebar-item"]).sidebar-group-divider {
  @apply pl-4;
}

.homepage-sidebar-item:is([class*="level-1"]):is([class*="theme-doc-sidebar-item"]) > .menu__link,
.homepage-sidebar-item:is([class*="level-1"]):is([class*="theme-doc-sidebar-item"]) > .menu__list-item-collapsible > .menu__link {
  @apply !pl-0.5;
}

.menu__list-item-collapsible {
  @apply !rounded;
}

.menu__list-item-collapsible--active {
  @apply !bg-transparent;
}

.menu__list-item-collapsible .menu__link--sublist:hover {
  @apply !bg-medusa-bg-base-hover dark:!bg-medusa-bg-subtle-hover;
}

.menu__list:not(.theme-doc-sidebar-menu) > .theme-doc-sidebar-item-link:last-child > .menu__link--active::before {
  @apply !top-0.25;
}

.menu__link--sublist-caret:after {
  @apply content-none;
}

.menu__link {
  @apply cursor-pointer !rounded text-compact-small-plus;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list {
  @apply mb-0.25;
}

.menu__list:not(.theme-doc-sidebar-menu),
.theme-doc-sidebar-item-category-level-1 > .menu__list {
  @apply !pl-0;
}

.menu__list .menu__list {
  @apply !mt-0;
}

/** General sidebar styles **/
.theme-doc-sidebar-container {
  @apply z-[398] border-0 border-r border-solid border-medusa-border-base;
}

/** Mobile Sidebar **/
.navbar-sidebar__back {
  @apply bg-transparent w-fit top-[unset] pl-0 ml-0 mb-1 text-compact-small-plus;
}

.theme-doc-sidebar-item-link {
  @apply flex items-center;
}