.theme-doc-toc-desktop {
  @apply pt-3;
}

.theme-doc-toc-desktop .table-of-contents {
  @apply !border-l-0 !p-0 text-[12px] relative overflow-y-hidden;
  @apply before:bg-toc dark:before:bg-toc-dark;
  @apply before:bg-no-repeat before:bg-[length:14px_10px] before:bg-[center_left];
  @apply before:pl-[22px] before:content-['On_this_page'] before:pb-0 text-compact-small-plus;
  @apply after:content-[''] after:absolute after:left-0 after:top-2.5;
  @apply after:h-full after:w-[1px] after:bg-medusa-border-base;
}

.theme-doc-toc-desktop .table-of-contents .table-of-contents__link {
  @apply pl-[11px];
}

.theme-doc-toc-desktop .table-of-contents > li {
  @apply first:mt-1 [&:not(:first-child)]:mt-0 last:mb-0 [&:not(:last-child)]:mb-0.25;
}

.theme-doc-toc-desktop .table-of-contents li a + ul {
  @apply mt-0.25;
}

.theme-doc-toc-desktop .table-of-contents__link {
  @apply relative text-compact-x-small-plus;
  @apply hover:text-medusa-fg-base;
}

.theme-doc-toc-desktop .table-of-contents__link:hover code {
  @apply text-medusa-fg-base;
}

.theme-doc-toc-desktop .table-of-contents__link--active {
  @apply text-medusa-fg-base;
  @apply after:content-[''] after:absolute after:left-0 after:top-0;
  @apply after:h-full after:w-[1px] after:bg-medusa-fg-base;
  @apply z-[1];
}

.theme-doc-toc-desktop .table-of-contents__link--active code {
  @apply text-medusa-fg-base;
}

.theme-doc-toc-desktop .table-of-contents li {
  @apply mx-0;
}

.theme-doc-toc-desktop .table-of-contents ul li {
  @apply mt-0;
}

.table-of-contents ul {
  @apply pl-0;
}

.table-of-contents ul .table-of-contents__link {
  @apply !pl-[27px];
}