.react-tooltip {
  @apply !border !border-solid !border-medusa-border-base;
  @apply !rounded !text-compact-x-small-plus !shadow-tooltip dark:!shadow-tooltip-dark;
  @apply !py-0.4 !px-1 lg:block hidden;
}

.react-tooltip-arrow {
  @apply hidden;
}

