.dark-mode-toggler {
  background: transparent;
  border: 0;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 5px;
  color: var(--theme-ui-colors-text)
}

.dark-mode-toggler:hover {
  background-color: #00000010;
}