openapi: 3.0.0
info:
  version: 1.0.0
  title: Medusa Admin API
  description: >
    API reference for Medusa's Admin endpoints. All endpoints are prefixed with
    `/admin`.


    ## Authentication


    There are two ways to send authenticated requests to the Medusa server:
    Using a user's API token, or using a Cookie Session ID.


    <!-- ReDoc-Inject: <SecurityDefinitions> -->
  license:
    name: MIT
    url: 'https://github.com/medusajs/medusa/blob/master/LICENSE'
tags:
  - name: Auth
    description: >-
      Auth endpoints that allow authorization of admin Users and manages their
      sessions.
  - name: App
    description: App endpoints that allow handling apps in Medusa.
    x-resourceId: OAuth
  - name: Batch Job
    description: Batch Job endpoints that allow handling batch jobs in Medusa.
    x-resourceId: batch_job
  - name: Claim
    description: Claim endpoints that allow handling claims in Medusa.
    x-resourceId: claim_order
  - name: Collection
    description: Collection endpoints that allow handling collections in Medusa.
    x-resourceId: product_collection
  - name: Customer
    description: Customer endpoints that allow handling customers in Medusa.
    x-resourceId: customer
  - name: Customer Group
    description: Customer Group endpoints that allow handling customer groups in Medusa.
    x-resourceId: customer_group
  - name: Discount
    description: Discount endpoints that allow handling discounts in Medusa.
    x-resourceId: discount
  - name: Discount Condition
    description: >-
      Discount Condition endpoints that allow handling discount conditions in
      Medusa.
    x-resourceId: discount_condition
  - name: Draft Order
    description: Draft Order endpoints that allow handling draft orders in Medusa.
    x-resourceId: draft-order
  - name: Gift Card
    description: Gift Card endpoints that allow handling gift cards in Medusa.
    x-resourceId: gift_card
  - name: Invite
    description: Invite endpoints that allow handling invites in Medusa.
    x-resourceId: invite
  - name: Note
    description: Note endpoints that allow handling notes in Medusa.
    x-resourceId: note
  - name: Notification
    description: Notification endpoints that allow handling notifications in Medusa.
    x-resourceId: notification
  - name: Order
    description: Order endpoints that allow handling orders in Medusa.
    x-resourceId: order
  - name: Price List
    description: Price List endpoints that allow handling price lists in Medusa.
    x-resourceId: price_list
  - name: Product
    description: Product endpoints that allow handling products in Medusa.
    x-resourceId: product
  - name: Product Tag
    description: Product Tag endpoints that allow handling product tags in Medusa.
    x-resourceId: product_tag
  - name: Product Type
    description: Product Types endpoints that allow handling product types in Medusa.
    x-resourceId: product_type
  - name: Product Variant
    description: Product Variant endpoints that allow handling product variants in Medusa.
    x-resourceId: product_variant
  - name: Region
    description: Region endpoints that allow handling regions in Medusa.
    x-resourceId: region
  - name: Return Reason
    description: Return Reason endpoints that allow handling return reasons in Medusa.
    x-resourceId: return_reason
  - name: Return
    description: Return endpoints that allow handling returns in Medusa.
    x-resourceId: return
  - name: Sales Channel
    description: Sales Channel endpoints that allow handling sales channels in Medusa.
    x-resourceId: sales_channel
  - name: Shipping Option
    description: Shipping Option endpoints that allow handling shipping options in Medusa.
    x-resourceId: shipping_option
  - name: Shipping Profile
    description: >-
      Shipping Profile endpoints that allow handling shipping profiles in
      Medusa.
    x-resourceId: shipping_profile
  - name: Store
    description: Store endpoints that allow handling stores in Medusa.
    x-resourceId: store
  - name: Swap
    description: Swap endpoints that allow handling swaps in Medusa.
    x-resourceId: swap
  - name: Tax Rate
    description: Tax Rate endpoints that allow handling tax rates in Medusa.
    x-resourceId: tax_rate
  - name: Upload
    description: Upload endpoints that allow handling uploads in Medusa.
  - name: User
    description: User endpoints that allow handling users in Medusa.
    x-resourceId: user
servers:
  - url: 'https://api.medusa-commerce.com/admin'
paths:
  /apps/authorizations:
    post:
      operationId: PostApps
      summary: Generates a token for an application.
      description: Generates a token for an application.
      x-authenticated: true
      requestBody:
        content:
          application/json:
            schema:
              required:
                - application_name
                - state
                - code
              properties:
                application_name:
                  type: string
                  description: Name of the application for the token to be generated for.
                state:
                  type: string
                  description: State of the application.
                code:
                  type: string
                  description: The code for the generated token.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/apps/authorizations' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "application_name": "example",
                "state": "ready",
                "code": "token"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - App
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  apps:
                    $ref: '#/components/schemas/OAuth'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /apps:
    get:
      operationId: GetApps
      summary: List applications
      description: Retrieve a list of applications.
      x-authenticated: true
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location --request GET 'https://medusa-url.com/admin/apps' \
            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - App
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuth'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /auth:
    post:
      operationId: PostAuth
      summary: Authenticate a User
      x-authenticated: false
      description: Logs a User in and authorizes them to manage Store settings.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  description: The User's email.
                password:
                  type: string
                  description: The User's password.
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            medusa.admin.auth.createSession({
              email: 'user@example.com',
              password: 'supersecret'
            }).then((({ user }) => {
              console.log(user.id);
            });
        - lang: Shell
          label: cURL
          source: |
            curl --location --request POST 'https://medusa-url.com/admin/auth' \
            --header 'Content-Type: application/json' \
            --data-raw '{
              "email": "user@example.com",
              "password": "supersecret"
            }'
      tags:
        - Auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  user:
                    $ref: '#/components/schemas/user'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/incorrect_credentials'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    delete:
      operationId: DeleteAuth
      summary: Delete Session
      x-authenticated: true
      description: Deletes the current session for the logged in user.
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.auth.deleteSession()
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE 'https://medusa-url.com/admin/auth'
            \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Auth
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetAuth
      summary: Get Session
      x-authenticated: true
      description: Gets the currently logged in User.
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.auth.getSession()

            .then(({ user }) => {
              console.log(user.id);
            });
        - lang: Shell
          label: cURL
          source: |
            curl --location --request GET 'https://medusa-url.com/admin/auth' \
            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  user:
                    $ref: '#/components/schemas/user'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/batch-jobs/{id}/cancel':
    post:
      operationId: PostBatchJobsBatchJobCancel
      summary: Marks a batch job as canceled
      description: Marks a batch job as canceled
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the batch job.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.batchJobs.cancel(batch_job_id)

            .then(({ batch_job }) => {
              console.log(batch_job.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/batch-jobs/{id}/cancel' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Batch Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  batch_job:
                    $ref: '#/components/schemas/batch_job'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/batch-jobs/{id}/confirm':
    post:
      operationId: PostBatchJobsBatchJobConfirmProcessing
      summary: Confirm a batch job
      description: Confirms that a previously requested batch job should be executed.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the batch job.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.batchJobs.confirm(batch_job_id)

            .then(({ batch_job }) => {
              console.log(batch_job.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/batch-jobs/{id}/confirm' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Batch Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  batch_job:
                    $ref: '#/components/schemas/batch_job'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /batch-jobs:
    post:
      operationId: PostBatchJobs
      summary: Create a Batch Job
      description: Creates a Batch Job.
      x-authenticated: true
      requestBody:
        content:
          application/json:
            schema:
              required:
                - type
                - context
              properties:
                type:
                  type: string
                  description: The type of batch job to start.
                  example: product-export
                context:
                  type: object
                  description: >-
                    Additional infomration regarding the batch to be used for
                    processing.
                  example:
                    shape:
                      prices:
                        - region: null
                          currency_code: eur
                      dynamicImageColumnCount: 4
                      dynamicOptionColumnCount: 2
                    list_config:
                      skip: 0
                      take: 50
                      order:
                        created_at: DESC
                      relations:
                        - variants
                        - variant.prices
                        - images
                dry_run:
                  type: boolean
                  description: >-
                    Set a batch job in dry_run mode to get some information on
                    what will be done without applying any modifications.
                  default: false
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.batchJobs.create({
              type: 'product-export',
              context: {},
              dry_run: false
            }).then((({ batch_job }) => {
              console.log(batch_job.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/batch-jobs' \

            --header 'Content-Type: application/json' \

            --header 'Authorization: Bearer {api_token}' \

            --data-raw '{
                "type": "product-export",
                "context": { }
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Batch Job
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  batch_job:
                    $ref: '#/components/schemas/batch_job'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetBatchJobs
      summary: List Batch Jobs
      description: Retrieve a list of Batch Jobs.
      x-authenticated: true
      parameters:
        - in: query
          name: limit
          description: The number of batch jobs to return.
          schema:
            type: integer
            default: 10
        - in: query
          name: offset
          description: The number of batch jobs to skip before results.
          schema:
            type: integer
            default: 0
        - in: query
          name: id
          style: form
          explode: false
          description: Filter by the batch ID
          schema:
            oneOf:
              - type: string
                description: batch job ID
              - type: array
                description: multiple batch job IDs
                items:
                  type: string
        - in: query
          name: type
          style: form
          explode: false
          description: Filter by the batch type
          schema:
            type: array
            items:
              type: string
        - in: query
          name: confirmed_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was confirmed, i.e.
            less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: pre_processed_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was pre processed,
            i.e. less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: completed_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was completed, i.e.
            less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: failed_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was failed, i.e. less
            than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: canceled_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was canceled, i.e.
            less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: order
          description: Field used to order retrieved batch jobs
          schema:
            type: string
        - in: query
          name: expand
          description: >-
            (Comma separated) Which fields should be expanded in each order of
            the result.
          schema:
            type: string
        - in: query
          name: fields
          description: >-
            (Comma separated) Which fields should be included in each order of
            the result.
          schema:
            type: string
        - in: query
          name: created_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was created, i.e.
            less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: updated_at
          style: form
          explode: false
          description: >-
            Date comparison for when resulting collections was updated, i.e.
            less than, greater than etc.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.batchJobs.list()

            .then(({ batch_jobs, limit, offset, count }) => {
              console.log(batch_jobs.length);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/batch-jobs' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Batch Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  batch_jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/batch_job'
                  count:
                    type: integer
                    description: The total number of items available
                  offset:
                    type: integer
                    description: The number of items skipped before these items
                  limit:
                    type: integer
                    description: The number of items per page
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/batch-jobs/{id}':
    get:
      operationId: GetBatchJobsBatchJob
      summary: Retrieve a Batch Job
      description: Retrieves a Batch Job.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Batch Job
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.batchJobs.retrieve(batch_job_id)

            .then(({ batch_job }) => {
              console.log(batch_job.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/batch-jobs/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Batch Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  batch_job:
                    $ref: '#/components/schemas/batch_job'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/collections/{id}/products/batch':
    post:
      operationId: PostProductsToCollection
      summary: Updates products associated with a Product Collection
      description: Updates products associated with a Product Collection
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Collection.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - product_ids
              properties:
                product_ids:
                  description: An array of Product IDs to add to the Product Collection.
                  type: array
                  items:
                    description: The ID of a Product to add to the Product Collection.
                    type: string
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/collections/{id}/products/batch' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "product_ids": [
                    "prod_01G1G5V2MBA328390B5AXJ610F"
                ]
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  collection:
                    $ref: '#/components/schemas/product_collection'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    delete:
      operationId: DeleteProductsFromCollection
      summary: Removes products associated with a Product Collection
      description: Removes products associated with a Product Collection
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Collection.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - product_ids
              properties:
                product_ids:
                  description: >-
                    An array of Product IDs to remove from the Product
                    Collection.
                  type: array
                  items:
                    description: The ID of a Product to add to the Product Collection.
                    type: string
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE
            'https://medusa-url.com/admin/collections/{id}/products/batch' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "product_ids": [
                    "prod_01G1G5V2MBA328390B5AXJ610F"
                ]
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: The ID of the collection
                  object:
                    type: string
                    description: The type of object the removal was executed on
                    default: product-collection
                  removed_products:
                    description: The IDs of the products removed from the collection
                    type: array
                    items:
                      description: The ID of a Product to add to the Product Collection.
                      type: string
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /collections:
    post:
      operationId: PostCollections
      summary: Create a Product Collection
      description: Creates a Product Collection.
      x-authenticated: true
      requestBody:
        content:
          application/json:
            schema:
              required:
                - title
              properties:
                title:
                  type: string
                  description: The title to identify the Collection by.
                handle:
                  type: string
                  description: >-
                    An optional handle to be used in slugs, if none is provided
                    we will kebab-case the title.
                metadata:
                  description: >-
                    An optional set of key-value pairs to hold additional
                    information.
                  type: object
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.collections.create({
              title: 'New Collection'
            })

            .then(({ collection }) => {
              console.log(collection.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/collections' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "title": "New Collection"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  collection:
                    $ref: '#/components/schemas/product_collection'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetCollections
      summary: List Product Collections
      description: Retrieve a list of Product Collection.
      x-authenticated: true
      parameters:
        - in: query
          name: limit
          description: The number of collections to return.
          schema:
            type: integer
            default: 10
        - in: query
          name: offset
          description: The number of collections to skip before the results.
          schema:
            type: integer
            default: 0
        - in: query
          name: title
          description: The title of collections to return.
          schema:
            type: string
        - in: query
          name: handle
          description: The handle of collections to return.
          schema:
            type: string
        - in: query
          name: q
          description: a search term to search titles and handles.
          schema:
            type: string
        - in: query
          name: created_at
          description: Date comparison for when resulting collections were created.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: updated_at
          description: Date comparison for when resulting collections were updated.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: deleted_at
          description: Date comparison for when resulting collections were deleted.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.collections.list()

            .then(({ collections, limit, offset, count }) => {
              console.log(collections.length);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/collections' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/product_collection'
                  count:
                    type: integer
                    description: The total number of items available
                  offset:
                    type: integer
                    description: The number of items skipped before these items
                  limit:
                    type: integer
                    description: The number of items per page
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/collections/{id}':
    delete:
      operationId: DeleteCollectionsCollection
      summary: Delete a Product Collection
      description: Deletes a Product Collection.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Collection.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.collections.delete(collection_id)

            .then(({ id, object, deleted }) => {
              console.log(id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE
            'https://medusa-url.com/admin/collections/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: The ID of the deleted Collection
                  object:
                    type: string
                    description: The type of the object that was deleted.
                    default: product-collection
                  deleted:
                    type: boolean
                    description: Whether the collection was deleted successfully or not.
                    default: true
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetCollectionsCollection
      summary: Retrieve a Product Collection
      description: Retrieves a Product Collection.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Product Collection
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.collections.retrieve(collection_id)

            .then(({ collection }) => {
              console.log(collection.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/collections/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  collection:
                    $ref: '#/components/schemas/product_collection'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    post:
      operationId: PostCollectionsCollection
      summary: Update a Product Collection
      description: Updates a Product Collection.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Collection.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  type: string
                  description: The title to identify the Collection by.
                handle:
                  type: string
                  description: >-
                    An optional handle to be used in slugs, if none is provided
                    we will kebab-case the title.
                metadata:
                  description: >-
                    An optional set of key-value pairs to hold additional
                    information.
                  type: object
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.collections.update(collection_id, {
              title: 'New Collection'
            })

            .then(({ collection }) => {
              console.log(collection.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/collections/{id}' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "title": "New Collection"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  collection:
                    $ref: '#/components/schemas/product_collection'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/customer-groups/{id}/customers/batch':
    post:
      operationId: PostCustomerGroupsGroupCustomersBatch
      summary: 'Add a list of customers to a customer group '
      description: 'Adds a list of customers, represented by id''s, to a customer group.'
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the customer group.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - customer_ids
              properties:
                customer_ids:
                  description: The ids of the customers to add
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: ID of the customer
                        type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.addCustomers(customer_group_id, {
              customer_ids: [
                {
                  id: customer_id
                }
              ]
            })

            .then(({ customer_group }) => {
              console.log(customer_group.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/customer-groups/{id}/customers/batch'
            \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "customer_ids": [
                    {
                        "id": "cus_01G2Q4BS9GAHDBMDEN4ZQZCJB2"
                    }
                ]
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_group:
                    $ref: '#/components/schemas/customer_group'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    delete:
      operationId: DeleteCustomerGroupsGroupCustomerBatch
      summary: 'Remove a list of customers from a customer group '
      description: 'Removes a list of customers, represented by id''s, from a customer group.'
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the customer group.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - customer_ids
              properties:
                customer_ids:
                  description: The ids of the customers to remove
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: ID of the customer
                        type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.removeCustomers(customer_group_id, {
              customer_ids: [
                {
                  id: customer_id
                }
              ]
            })

            .then(({ customer_group }) => {
              console.log(customer_group.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE
            'https://medusa-url.com/admin/customer-groups/{id}/customers/batch'
            \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "customer_ids": [
                    {
                        "id": "cus_01G2Q4BS9GAHDBMDEN4ZQZCJB2"
                    }
                ]
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_group:
                    $ref: '#/components/schemas/customer_group'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /customer-groups:
    post:
      operationId: PostCustomerGroups
      summary: Create a CustomerGroup
      description: Creates a CustomerGroup.
      x-authenticated: true
      parameters: []
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.create({
              name: 'VIP'
            })

            .then(({ customer_group }) => {
              console.log(customer_group.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/customer-groups' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "name": "VIP"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_group:
                    $ref: '#/components/schemas/customer_group'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the customer group
                metadata:
                  type: object
                  description: Metadata for the customer.
    get:
      operationId: GetCustomerGroups
      summary: Retrieve a list of customer groups
      description: Retrieve a list of customer groups.
      x-authenticated: true
      parameters:
        - in: query
          name: q
          description: Query used for searching customer group names.
          schema:
            type: string
        - in: query
          name: offset
          description: How many groups to skip in the result.
          schema:
            type: integer
            default: 0
        - in: query
          name: order
          description: the field used to order the customer groups.
          schema:
            type: string
        - in: query
          name: id
          style: form
          explode: false
          description: Filter by the customer group ID
          schema:
            oneOf:
              - type: string
                description: customer group ID
              - type: array
                description: multiple customer group IDs
                items:
                  type: string
              - type: object
                properties:
                  lt:
                    type: string
                    description: filter by IDs less than this ID
                  gt:
                    type: string
                    description: filter by IDs greater than this ID
                  lte:
                    type: string
                    description: filter by IDs less than or equal to this ID
                  gte:
                    type: string
                    description: filter by IDs greater than or equal to this ID
        - in: query
          name: name
          style: form
          explode: false
          description: Filter by the customer group name
          schema:
            type: array
            description: multiple customer group names
            items:
              type: string
              description: customer group name
        - in: query
          name: created_at
          description: Date comparison for when resulting customer groups were created.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: updated_at
          description: Date comparison for when resulting customer groups were updated.
          schema:
            type: object
            properties:
              lt:
                type: string
                description: filter by dates less than this date
                format: date
              gt:
                type: string
                description: filter by dates greater than this date
                format: date
              lte:
                type: string
                description: filter by dates less than or equal to this date
                format: date
              gte:
                type: string
                description: filter by dates greater than or equal to this date
                format: date
        - in: query
          name: limit
          description: Limit the number of customer groups returned.
          schema:
            type: integer
            default: 10
        - in: query
          name: expand
          description: >-
            (Comma separated) Which fields should be expanded in each customer
            groups of the result.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.list()

            .then(({ customer_groups, limit, offset, count }) => {
              console.log(customer_groups.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/customer-groups' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/customer_group'
                  count:
                    type: integer
                    description: The total number of items available
                  offset:
                    type: integer
                    description: The number of items skipped before these items
                  limit:
                    type: integer
                    description: The number of items per page
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/customer-groups/{id}':
    delete:
      operationId: DeleteCustomerGroupsCustomerGroup
      summary: Delete a CustomerGroup
      description: Deletes a CustomerGroup.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Customer Group
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.delete(customer_group_id)

            .then(({ id, object, deleted }) => {
              console.log(id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE
            'https://medusa-url.com/admin/customer-groups/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: The ID of the deleted customer group.
                  object:
                    type: string
                    description: The type of the object that was deleted.
                    default: customer_group
                  deleted:
                    type: boolean
                    description: >-
                      Whether the customer group was deleted successfully or
                      not.
                    default: true
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetCustomerGroupsGroup
      summary: Retrieve a CustomerGroup
      description: Retrieves a Customer Group.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Customer Group.
          schema:
            type: string
        - in: query
          name: expand
          description: >-
            (Comma separated) Which fields should be expanded in the customer
            group.
          schema:
            type: string
        - in: query
          name: fields
          description: >-
            (Comma separated) Which fields should be included in the customer
            group.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.retrieve(customer_group_id)

            .then(({ customer_group }) => {
              console.log(customer_group.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/customer-groups/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_group:
                    $ref: '#/components/schemas/customer_group'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    post:
      operationId: PostCustomerGroupsGroup
      summary: Update a CustomerGroup
      description: Update a CustomerGroup.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the customer group.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Name of the customer group
                  type: string
                metadata:
                  description: Metadata for the customer.
                  type: object
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.update(customer_group_id, {
              name: 'VIP'
            })

            .then(({ customer_group }) => {
              console.log(customer_group.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/customer-groups/{id}' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "name": "VIP"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_group:
                    $ref: '#/components/schemas/customer_group'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/customer-groups/{id}/customers':
    get:
      operationId: GetCustomerGroupsGroupCustomers
      summary: List Customers
      description: Retrieves a list of customers in a customer group
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the customer group.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customerGroups.listCustomers(customer_group_id)

            .then(({ customers }) => {
              console.log(customers.length);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/customer-groups/{id}/customers' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer Group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/customer'
                  count:
                    type: integer
                    description: The total number of items available
                  offset:
                    type: integer
                    description: The number of items skipped before these items
                  limit:
                    type: integer
                    description: The number of items per page
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /customers:
    post:
      operationId: PostCustomers
      summary: Create a Customer
      description: Creates a Customer.
      x-authenticated: true
      requestBody:
        content:
          application/json:
            schema:
              required:
                - email
                - first_name
                - last_name
                - password
              properties:
                email:
                  type: string
                  description: The customer's email.
                  format: email
                first_name:
                  type: string
                  description: The customer's first name.
                last_name:
                  type: string
                  description: The customer's last name.
                password:
                  type: string
                  description: The customer's password.
                  format: password
                phone:
                  type: string
                  description: The customer's phone number.
                metadata:
                  description: >-
                    An optional set of key-value pairs to hold additional
                    information.
                  type: object
      tags:
        - Customer
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customers.create({
              email: 'user@example.com',
              first_name: 'Caterina',
              last_name: 'Yost',
              password: 'supersecret'
            })

            .then(({ customer }) => {
              console.log(customer.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/customers' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "email": "user@example.com",
                "first_name": "Caterina",
                "last_name": "Yost",
                "password": "supersecret"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer:
                    $ref: '#/components/schemas/customer'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    get:
      operationId: GetCustomers
      summary: List Customers
      description: Retrieves a list of Customers.
      x-authenticated: true
      parameters:
        - in: query
          name: limit
          description: The number of items to return.
          schema:
            type: integer
            default: 50
        - in: query
          name: offset
          description: The items to skip before result.
          schema:
            type: integer
            default: 0
        - in: query
          name: expand
          description: (Comma separated) Which fields should be expanded in each customer.
          schema:
            type: string
        - in: query
          name: q
          description: 'a search term to search email, first_name, and last_name.'
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customers.list()

            .then(({ customers, limit, offset, count }) => {
              console.log(customers.length);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/customers' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/customer'
                  count:
                    type: integer
                    description: The total number of items available
                  offset:
                    type: integer
                    description: The number of items skipped before these items
                  limit:
                    type: integer
                    description: The number of items per page
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/customers/{id}':
    get:
      operationId: GetCustomersCustomer
      summary: Retrieve a Customer
      description: Retrieves a Customer.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Customer.
          schema:
            type: string
        - in: query
          name: expand
          description: (Comma separated) Which fields should be expanded in the customer.
          schema:
            type: string
        - in: query
          name: fields
          description: (Comma separated) Which fields should be included in the customer.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customers.retrieve(customer_id)

            .then(({ customer }) => {
              console.log(customer.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request GET
            'https://medusa-url.com/admin/customers/{id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer:
                    $ref: '#/components/schemas/customer'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    post:
      operationId: PostCustomersCustomer
      summary: Update a Customer
      description: Updates a Customer.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Customer.
          schema:
            type: string
        - in: query
          name: expand
          description: (Comma separated) Which fields should be expanded in each customer.
          schema:
            type: string
        - in: query
          name: fields
          description: (Comma separated) Which fields should be retrieved in each customer.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  description: The Customer's email.
                  format: email
                first_name:
                  type: string
                  description: The Customer's first name.
                last_name:
                  type: string
                  description: The Customer's last name.
                phone:
                  type: string
                  description: The Customer's phone number.
                password:
                  type: string
                  description: The Customer's password.
                  format: password
                groups:
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: The ID of a customer group
                        type: string
                  description: A list of customer groups to which the customer belongs.
                metadata:
                  description: >-
                    An optional set of key-value pairs to hold additional
                    information.
                  type: object
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.customers.update(customer_id, {
              first_name: 'Dolly'
            })

            .then(({ customer }) => {
              console.log(customer.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/customers/{id}' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "first_name": "Dolly"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer:
                    $ref: '#/components/schemas/customer'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/discounts/{id}/regions/{region_id}':
    post:
      operationId: PostDiscountsDiscountRegionsRegion
      summary: Adds Region availability
      description: Adds a Region to the list of Regions that a Discount can be used in.
      x-authenticated: true
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Discount.
          schema:
            type: string
        - in: path
          name: region_id
          required: true
          description: The ID of the Region.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.discounts.addRegion(discount_id, region_id)

            .then(({ discount }) => {
              console.log(discount.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/discounts/{id}/regions/{region_id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Discount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount:
                    $ref: '#/components/schemas/discount'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
    delete:
      operationId: DeleteDiscountsDiscountRegionsRegion
      summary: Remove Region availability
      x-authenticated: true
      description: >-
        Removes a Region from the list of Regions that a Discount can be used
        in.
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the Discount.
          schema:
            type: string
        - in: path
          name: region_id
          required: true
          description: The ID of the Region.
          schema:
            type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.discounts.removeRegion(discount_id, region_id)

            .then(({ discount }) => {
              console.log(discount.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request DELETE
            'https://medusa-url.com/admin/discounts/{id}/regions/{region_id}' \

            --header 'Authorization: Bearer {api_token}'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Discount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount:
                    $ref: '#/components/schemas/discount'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  '/discounts/{discount_id}/conditions':
    post:
      operationId: PostDiscountsDiscountConditions
      summary: Create a DiscountCondition
      description: >-
        Creates a DiscountCondition. Only one of `products`, `product_types`,
        `product_collections`, `product_tags`, and `customer_groups` should be
        provided.
      x-authenticated: true
      parameters:
        - in: path
          name: discount_id
          required: true
          description: The ID of the Product.
          schema:
            type: string
        - in: query
          name: expand
          description: >-
            (Comma separated) Which fields should be expanded in each product of
            the result.
          schema:
            type: string
        - in: query
          name: fields
          description: >-
            (Comma separated) Which fields should be included in each product of
            the result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - operator
              properties:
                operator:
                  description: Operator of the condition
                  type: string
                  enum:
                    - in
                    - not_in
                products:
                  type: array
                  description: list of product IDs if the condition is applied on products.
                  items:
                    type: string
                product_types:
                  type: array
                  description: >-
                    list of product type IDs if the condition is applied on
                    product types.
                  items:
                    type: string
                product_collections:
                  type: array
                  description: >-
                    list of product collection IDs if the condition is applied
                    on product collections.
                  items:
                    type: string
                product_tags:
                  type: array
                  description: >-
                    list of product tag IDs if the condition is applied on
                    product tags.
                  items:
                    type: string
                customer_groups:
                  type: array
                  description: >-
                    list of customer group IDs if the condition is applied on
                    customer groups.
                  items:
                    type: string
      x-codeSamples:
        - lang: JavaScript
          label: JS Client
          source: >
            import Medusa from "@medusajs/medusa-js"

            import { DiscountConditionOperator } from "@medusajs/medusa"

            const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries:
            3 })

            // must be previously logged in or use api token

            medusa.admin.discounts.createCondition(discount_id, {
              operator: DiscountConditionOperator.IN
            })

            .then(({ discount }) => {
              console.log(discount.id);
            });
        - lang: Shell
          label: cURL
          source: >
            curl --location --request POST
            'https://medusa-url.com/admin/discounts/{id}/conditions' \

            --header 'Authorization: Bearer {api_token}' \

            --header 'Content-Type: application/json' \

            --data-raw '{
                "operator": "in"
            }'
      security:
        - api_token: []
        - cookie_auth: []
      tags:
        - Discount Condition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount:
                    $ref: '#/components/schemas/discount'
        '400':
          $ref: '#/components/responses/400_error'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found_error'
        '409':
          $ref: '#/components/responses/invalid_state_error'
        '422':
          $ref: '#/components/responses/invalid_request_error'
        '500':
          $ref: '#/components/responses/500_error'
  /discounts:
    post:
      operationId: PostDiscounts
      summary: Creates a Discount
      x-authenticated: true
      description: >-
        Creates a Discount with a given set of rules that define how the
        Discount behaves.
      parameters:
        - in: query
          name: expand
          description: (Comma separated) Which fields should be expanded in each customer.
          schema:
            type: string
        - in: query
          name: fields
          description: (Comma separated) Which fields should be retrieved in each customer.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - code
                - rule
              properties:
                code:
                  type: string
                  description: A unique code that will be used to redeem the Discount
                is_dynamic:
                  type: boolean
                  description: >-
                    Whether the Discount should have multiple instances of
                    itself, each with a different code. This can be useful for
                    automatically generated codes that all have to follow a
                    common set of rules.
                  default: false
                rule:
                  description: The Discount Rule that defines how Discounts are calculated
                  type: object
                  required:
                    - type
                    - value
                    - allocation
                  properties:
                    description:
                      type: string
                      description: A short description of the discount
                    type:
                      type: string
                      description: >-
                        The type of the Discount, can be `fixed` for discounts
                        that reduce the price by a fixed amount, `percentage`
                        for percentage reductions or `free_shipping` for
                        shipping vouchers.
                      enum:
                        - fixed
                        - percentage
                        - free_shipping
                    value:
                      type: number
                      description: >-
                        The value that the discount represents; this will depend
                        on the type of the discount
                    allocation:
                      type: string
                      description: The scope that the discount should apply to.
                      enum:
                        - total
                        - item
                    conditions:
                      type: array
                      description: >-
                        A set of conditions that can be used to limit when  the
                        discount can be used. Only one of `products`,
                        `product_types`, `product_collections`, `product_tags`,
                        and `customer_groups` should be provided.
                      items:
                        type: object
                        required:
                          - operator
                        properties:
                          operator:
                            type: string
                            description: Operator of the condition
                            enum:
                              - in
                              - not_in
                          products:
                            type: array
                            description: >-
                              list of product IDs if the condition is applied on
                              products.
                            items:
                              type: string
                          product_types:
                            type: array
                            description: >-
                              list of product type IDs if the condition is
                              applied on product types.
                            items:
                              type: string
                          product_collections:
                            type: array
                            description: >-
                              list of product collection IDs if the condition is
                              applied on product collections.
                            items:
                              type: string
                          product_tags:
                            type: array
                            description: >-
                              list of product tag IDs if the condition is
                              applied on product tags.
                            items:
                              type: string
                          customer_groups:
                            type: array
                            description: >-
                              list of customer group IDs if the condition is
                              applied on customer groups.
                            items:
                              type: string
                is_disabled:
                  type: boolean
                  description: >-
                    Whether the Discount code is disabled on creation. You will
                    have to enable it later to make it available to Customers.
                  default: false
                starts_at:
                  type: string
                  format: date-time
                  description: The time at which the Discount should be available.
[...]
