:root {
  --logo-color-1000: #30363d;
  --logo-color-900: #454b54;
  --logo-color-400: #a3b1c7;
  --logo-color-100: #454b5411;
  --bg: #f7f9f9;

  /* Font sizes */
  --fz-s: 12px;
  --fz-sm: 14px;
  --fz-m: 16px;
  --fz-ml: 18px;
  --fz-l: 22px;
  --fz-xl: 24px;

  /* box-shadow */
  --shade: 0 1px 5px rgba(0, 0, 0, 0.2);

  /* Nav */
  --nav-height: 68px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background: lightgrey;
  color: black;
}

* {
  box-sizing: border-box;
}
