.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.image {
  width: 60%;
  height: 100vh;
  margin: 0;
}

.placeholder {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--bg);
}

.placeholder > div {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
}

.return {
  display: flex;
  align-items: center;
}

.return svg {
  margin-right: 0.7rem;
}

.sizebtn {
  padding: 0.7rem;
  border: none;
  background: lightgrey;
  border-radius: 2px;
  min-height: 38px;
  min-width: 38px;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in;
}

.sizebtn:hover {
  filter: brightness(0.9);
}

.selected {
  background: var(--logo-color-900);
  color: white;
}

.ticker {
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty {
  display: flex;
  align-items: center;
}

.selection {
  margin: 2rem 0;
}

.selection p {
  margin: 0;
  margin-bottom: 0.7rem;
}

.qtybtn {
  height: 38px;
  width: 38px;
  border: none;
  background: none;
  transition: all 0.2s ease-in;
  border-radius: 2px;
}

.qtybtn:hover,
.qtybtn:focus {
  background: var(--logo-color-100);
}

.addbtn {
  font-size: 1.125rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1.25rem;
  align-self: center;
  display: inline-flex;
  align-items: center;
  background: var(--logo-color-900);
  color: white;
  border-radius: 4px;
  transition: background 0.2s ease-in;
  font-weight: 500;
  border: none;
}

.addbtn svg {
  margin-left: 0.7rem;
}

.addbtn:hover {
  background: var(--logo-color-1000);
}

.tabs {
  margin-top: 2rem;
  max-width: 500px;
}

.tabtitle {
    background: transparent;
    border: none;
    padding: .5rem 0;
    font-size: var(--fz-m);
    border-bottom: 1px solid var(--logo-color-400); 
}

@media (max-width: 876px) {
    .container {
      flex-direction: column;
    }

    .image,
    .info {
        width: 100%
    }

    .image {
        height: 50vh;
    }

    .info {
        margin-top: 1rem;
        padding: 0 22px;
    }
  }