name: Publish canary
on: 
  pull_request:
    branches:
      - develop

jobs:
  publish-canary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: "14"
          cache: "yarn"
          registry-url: 'https://registry.npmjs.org'

      - name: Bootstrap packages
        uses: ./.github/actions/cache-bootstrap

      - name: Build Packages
        run: yarn build

      - name: Publish Canary
        run: lerna publish --yes --canary --preid ci --force-publish="*"
        env:
          # TODO: Add token
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}